.footer {
    background-color: rgb(17, 16, 16);
    color: white;
    margin: 0;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.footer p {
    margin: 0;
    height: 5vh
}