.navBar {
    background-color: rgb(17, 16, 16);
    z-index: 2; 
    position: fixed;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.navBar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

.navBar li {
    padding: 10px;
}

.navBar a {
    color: white;
    border: medium solid transparent;
    padding: 10px;
}

.navBar a:hover {
    color: #6C8B81;
    text-decoration: none;
    border: medium solid #6C8B81;

}